.team-actions button {
    background-color: #0057ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .team-actions button:hover {
    background-color: #0041c4;
  }
  
  .remove-btn {
    margin-left: 10px;
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #c9302c;
  }
  
  .team-profile-container{
    color: black;
  }